/* Estilos generales */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

/* LA BARRA PRINCIPAL (Transparente) */
window#waybar {
    background-color: rgba(0, 0, 0, 0); /* El 0.5 es la transparencia */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* ESTILO DE LOS BOTONES (Módulos redondeados) */
#workspaces,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-media,
#backlight,
#window,
#custom-power,
#custom-orbit,
#tray {
    background-color: rgba(20, 20, 20, 08);
    padding: 0 10px;
    margin: 4px 4px;           /* Margen para que se vean separados */
    border-radius: 6px;       /* Forma redondeada / Píldora */
    color: #cdd6f4;
    border: 2px solid #ff0000;
}

#workspaces button {
    padding: 0 5px;
    color: #cdd6f4;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #ff0000;
    color: #000000;
    border-radius: 4px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(255, 0, 0, 0.4);
    border-color: #ff0000;
}

/* Nerd Fonds que voy a cambiar cuando me acuerde */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
